#body{
    background-color: #fff;
}
.panel-content {
    width: 100%;
    height: auto;
    padding: 0 25px;
}
.logo{
    padding-top:40px;
}
.logo a {
    display: block;
    width: 100%;
    height: 45px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 258px 45px;
}
.customer .logo a {
    background-image: url("pages/images/logo-customer.png");
    background-size:310px auto;
}
/*employee-样式*/
.employee .logo a{
    background-image:url("pages/images/employee-logo.png");
    background-size:310px auto;
}
.employee .submit-btn button{
    background: #FB6F6B url(pages/images/login-btn-bg.png) center no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px 2px 14px #FB6F6B;;
    border: none;
    border-radius: 32px;
    font-size: 18px;
    outline: none;
}
/*dealer-登录样式*/
.dealer .logo{
    padding-top: 36px;
}
.dealer .logo a {
    background-image: url("images/new-logo-dealer.png");
    background-size: 298px 40px;
}
.dealer .login-tab h2 {
    font-size: 25px;
    color: #999;
    font-weight: normal;
    margin: 0;
    padding-bottom: 15px;
}
.login-tab {
    width: 100%;
    padding-top: 30px;
    overflow: hidden;
}
.dealer .login-items {
    border-bottom: 1px solid #eee;
}
.dealer .login-items input {
    font-size: 15px;
    color: #999 !important;
}
.dealer .submit-btn button {
    background-image: linear-gradient(-30deg,
    #f1cd93 0%,
    #f5d49f 26%,
    #f8d9a9 50%,
    #f8e0b8 75%,
    #fbe8c7 100%),
    linear-gradient(
            #fad44b,
            #fad44b);
    background-blend-mode: normal,
    normal;
    border-radius: 4px;
    color: #957647;
    font-size: 16px;
}
.dealer .link .btn-forget {
    font-size:13px;
    color: #333;
    float: right;
}
.dealer .login-tab .change-btn,.dealer .btn-register,.employee.login-tab .change-btn {
    display: none;
}
.dealer .query-code .sent-captcha{
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #957647;
    text-align: center;
    background-color: rgba(241, 205, 147, 0.4);
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 15px;
    display: block;
    padding:0 7px;
}
.dealer .login-tab .login-tab-captcha{
    float: right;
    position: relative;
}

.customer.login-tab .login-tab-captcha{
    display: none;
}
.customer .login-tab h2,.employee .login-tab h2{
    font-size: 22pt;
    color: #272b26;
    font-weight: normal;
    float: left;
    margin: 0;
    padding: 0;
}
.login-tab .change-btn {
    display: block;
    float: left;
    font-size: 10pt;
    color: #3c3c3c;
    border:1px solid #1b1b1b;
    border-radius: 15px;
    margin-left: 15px;
    padding: 2px 8px;
    position: relative;
    margin-top: 10px;
}

.login-form {
    width: 100%;
    padding-top:20px;
}
.login-items {
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px solid #c3c3c3;
    position: relative;
    overflow: hidden;
}
.login-items input {
    height: 50px;
    font-size: 12pt;
    color: #333;
    width: 100%;
    border:0;
    outline: 0;
}
.login-items .close-btn {
    position: absolute;
    display: none;
    right: 5px;
    top: 26px;
    width: 15px;
    height: 15px;
    background: url("pages/images/login-close.png") no-repeat center;
    background-size: 100%;
}
.login-items.captcha-items .captcha{
    position: absolute;
    right: 0;
    top: 17px;
    height: 30px;
    width: 109px;
}
.customer .query-code .code {
    position: absolute;
    right: 0;
    top: 17px;
    padding: 0 7px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    border:1px solid #df0615;
    border-radius: 30px;
    color: #df0615;
    font-size: 11pt;
}
.query-code .code.has-send {
    border:0;
    color: #666666;
    font-size: 10pt;
    text-align: right;
    background-color: #ffffff;
}
.submit-btn {
    width: 100%;
    padding-top: 36px;
}
.submit-btn button,.submit-btn .sub-btn {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background-color: #df0615;
    border-radius: 45px;
    border:0;
    outline: 0;
    font-size: 14pt;
}
.footer-line {
    width: 100%;
    text-align: center;
    padding-top: 130px;
}
.footer-line div {
    margin:0 25px;
    border-top:1px solid #dddddd;
}
.footer-line div span {
    display: none;
}
.footer-line div span {
    font-size: 12pt;
    color: #e0e0e0;
    padding: 0 15px;
    background:#fff;
    position: relative;
    top:-10px;
}

.footer-line.dealer .line-dealer {
    display: inline-block;
}
.footer-line.customer .line-customer {
    display: inline-block;
}
/*找回密码*/
.findPassword h2{
    position: relative;
    padding-bottom: 15px;
}
.findPassword h2 .select{
    position: absolute;
    bottom:0;
    left: 20px;
}
.findPassword .new-psw-title{
    display: none;
}